* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  font-size: 18px;
  background-color: azure;
}

.container {
  margin: 200px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.quote-box {
  border: 2px solid #ddd;
  border-radius: 7px;
  padding: 30px 20px;
  margin-bottom: 20px;
  background-color: aquamarine;
}

.button-box{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding : 10px;
}
#quote {
  color: #444;
  text-align: center;

}
#author {
  float: right;
  color: #888;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
}

.btn{
  margin : auto;
  padding : 10px;
  cursor : pointer;
}

#btn:focus {
  outline: none;
}
